.avatar {
    width: 70%;
    height: 100%;
    border: double 2px transparent;
    border-radius: 50%;
    background-image: linear-gradient(rgb(227, 27, 201), rgb(239, 174, 10)), /*here must be*/
    linear-gradient(to right, rgb(255, 162, 49), rgb(189, 40, 200));
    background-origin: border-box;
    background-clip: content-box, border-box;
    &::after {
        content: "";
        position: absolute;
        height: 100px;
        width: 100px;
        border-radius: 50%;
        background-color: #000;
        border: 2px solid #000;
        z-index: 100;
    }
}

figcaption {
    font-size: 12px;
    letter-spacing: 0.1px
}

.user-wrapper {
    cursor: pointer;
}