.modal-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    align-items: center;
    z-index: 100;
    background: rgba(0, 0, 0, .7);
}

.fixed-modal {}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-content {
    background-color: #fff;
    border-radius: 5px;
    /* height: 500px; */
    max-height: 100%;
    width: 1300px;
    max-width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
}

.modal-img {
    width: 100%;
    padding: 0;
    margin: 0;
}

.modal__comments-inner {
    display: flex;
    align-items: flex-start;
    padding-bottom: 20px;
    padding-top: 15px;
    flex-wrap: wrap;
    padding-left: 10px;
}

.modal__comments-info {
    margin-left: 8px;
}

.modal__comments-nick {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 14px;
}

.modal__comment-wrapper {
    flex: 7;
    overflow-x: hidden;
    overflow: scroll;
}

.modal-comments {
    display: flex;
    flex-direction: column;
    height: 694px;
}

.modal__cross {
    position: absolute;
    top: 35px;
    right: 15px;
    cursor: pointer;
}

.modal__cross span {
    height: 2px;
    width: 18px;
    background-color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 101;
}

.modal__cross span:first-child {
    transform: rotate(45deg)
}

.modal__cross span:nth-child(2) {
    transform: rotate(-45deg)
}