@import '../../breakpoints.scss';
@import '../../variables.scss';

main {
    background-color: var(--background);
}

.home-container {
    max-width: 821px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
}

.info-block {
    display: flex;
    flex-direction: column;
    margin-right: 10px;
}

.slider-block {
    height: 110px;
    width: 470px;
    margin-bottom: 15px;
    border-radius: 8px;
    margin-top: 20px;
    border: 1px solid rgb(200, 200, 200);
    background-color: var(--backgroun);
}

.posts-block {
    width: 470px;
    height: 700px;
    border-radius: 8px;
}

.subscriberes-block {
    height: 700px;
    width: 319px;
    border-radius: 8px;
    padding: 10px;
}

body {
    background-color: rgb(250, 250, 250);
}

@include respond-to(lg-medium) {
    .subscriberes-block {
        display: none;
    }
    .home-container {
        grid-template-columns: 1fr;
    }
    .info-block {
        align-items: center;
        margin: 0;
    }
}

@include respond-to(sm-large) {
    .slider-block {
        margin-top: 0;
    }
}

@media (max-width: 460px) {
    header {
        width: 443px;
    }
}