@import '../../mixins.scss';
@import '../../breakpoints.scss';
@import '../../variables.scss';

.container {
    max-width: 905px;
    margin: 0 auto;
    padding: 0 15px;
}
.prof__dark {
    background-color: rgb(18, 18, 18);
    padding-top: 40px;
    overflow: hidden;
}
.prof {
    padding-top: 40px;
    padding-bottom: 30px;
    background-color: #fff;
    &__header {
        display: flex;
        justify-content: space-around;
        &-subs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            flex-basis: 30px;
            flex-grow: 2;
        }
        &-nick {
            font-weight: normal;
            font-size: 30px;
            text-overflow: ellipsis;
            margin-top: 0;
            color: var(--text-primary);
        }
        &-edit {
            background-color: transparent;
            font-weight: bold;
            border: 1px solid rgb(211, 211, 211);
            border-radius: 5px;
            padding: 5px 8px;
            font-size: 14px;
            color: var(--text-primary);
        }
        &-settings {
            color: var(--text-primary);
        }
        &-inner {
            display: flex;
            align-items: center;
        }
        &-inner * {
            margin-right: 20px;
            color: var(--text-primary);
        }
    }
    &__posts {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: repeat(3, 293px);
        grid-template-rows: repeat(3, 293px);
        justify-content: center;
        &-photo {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    &__stories {
        display: flex;
        margin-top: 40px;
    }
    &__subtitle {
        margin-top: 15px;
        &-text {
            margin-right: 5px;
            color: var(--text-primary);
        }
        &-link {
            text-decoration: none;
            color: var(--link-primary);
        }
    }
    &__current {
        @include roundedPhotoWrapper;
        width: 160px;
        height: 160px;
        &-avatar {
            @include roundedPhoto;
        }
    }
    &__list {
        display: flex;
        padding: 0;
        margin-top: 15px;
    }
    &__item {
        list-style: none;
        color: var(--text-primary);
        margin-right: 45px;
        font-size: 18px;
         :hover {
            background-color: rgba(208, 208, 208, 0.816);
            z-index: 122;
        }
    }
    &__link {
        color: var(--text-primary);
        text-decoration: none
    }
    &__link span,
    &__item span {
        font-weight: bold;
    }
}

.d {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    justify-content: center;
}

.prof__post-item {
    position: relative;
}

.prof__post-item:hover .mask {
    background: rgba(40, 40, 40, 0.386);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.mask-likes,
.mask-coments {
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}

.mask {
    display: none;
}

.mask:hover span.mask-likes, span.mask-coments {
    display: flex;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    margin-right: 5px;
    margin-left: 5px;
    align-items: center;
}

.mask-like-icon {
    width: 20px;
    margin-right: 5px;
}

.mask-comment-icon {
    width: 30px;
}

.prof__header-nick {
    color: var(--text-primary);
}

@include respond-to(lg-medium) {
    .prof__posts {
        grid-template-columns: repeat(3, 250px);
        grid-template-rows: repeat(3, 250px);
    }
}

@media screen and (max-width: 804px){
    .prof__posts {
        grid-template-columns: repeat(3, 220px);
        grid-template-rows: repeat(3, 220px);
        grid-gap: 15px;
    }
}

@media screen and (max-width: 700px){
    .prof__posts {
        grid-template-columns: repeat(3, 200px);
        grid-template-rows: repeat(3, 200px);
        grid-gap: 10px;
    }
}

@media screen and (max-width: 627px){
    .prof__posts {
        grid-template-columns: repeat(3, 180px);
        grid-template-rows: repeat(3, 180px);
        grid-gap: 8px;
    }
    .prof__header-nick {
        font-size: 24px;
    }
    .prof__current {
        width: 145px;
        height: 145px;
    }
}

@media screen and (max-width: 670px){
    .header__search {
        display: none !important;
    }
    .prof__stories {
        height: 115px;
    }
}

@media screen and (max-width: 650px){
    .prof__item {
        margin-right: 25px;
        font-size: 17px;
    }
}

@media screen and (max-width: 565px){
    .prof__posts {
        grid-template-columns: repeat(3, 160px);
        grid-template-rows: repeat(3, 160px);
        grid-gap: 5px;
    }
    .prof__item {
        margin-right: 30px;
        font-size: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: var(--text-primary);
    }
    ul.prof__list {
        margin-left: 35px;
    }
    .prof__subtitle {
        margin-left: 15px;
    }
    .prof__link {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .prof__header-inner {
        margin-left: 45px;
    }
}

@media screen and (max-width: 495px){
    .current-stories-wrapper {
        margin-left: 25px;
    }
    .prof__posts {
        grid-template-columns: repeat(3, 140px);
        grid-template-rows: repeat(3, 140px);
        grid-gap: 3px;
    }
    .prof__current {
        width: 115px;
        height: 115px;
    }
    .prof__header-nick {
        font-size: 22px;
    }
    .prof__item {
        font-size: 15px;
    }
    .prof__header-nick {
        margin-bottom: 25px;
    }
}

@media screen and (max-width: 432px){
    .prof__posts {
        grid-template-columns: repeat(3, 120px);
        grid-template-rows: repeat(3, 120px);
        grid-gap: 2px;
    }
    .prof__current {
        width: 95px;
        height: 95px;
    }
    .prof__header-nick {
        color: var(--text-primary);
        font-size: 20px;
    }
    .current-stories-inner {
        width: 70px;
        height: 70px;
    }
    .current-stories-wrapper {
        margin-left: 12px;
    }
    .prof__header-settings {
        display: none;
    }
    ul.prof__list {
        margin-left: 0;
    }
    .prof__header {
        justify-content: left;
    }
    .prof__stories {
         height: 97px;
    }
}

@media screen and (max-width: 465px) {
    .header {
        background-color: #fff;
        border-bottom: 1px solid #d8d8d8;
        padding: 10px;
        position: sticky;
        top: 0;
        width: 100%;
        z-index: 10;
    }
}
