@import '../../breakpoints.scss';
.post {
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid rgb(200, 200, 200);
    margin-bottom: 12px;
    &__dots {
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 2px;
        cursor: pointer;
    }
    &__nick-info {
        line-height: 0.7;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        height: 32px;
        padding: 15px 10px 10px 10px;
        border-bottom: 1px solid rgba(230, 230, 230, 0.886);
        grid-area: "post-header";
    }
    &__description {
        color: rgb(142, 142, 142);
        font-size: 12px;
    }
    &__photo {
        width: 100%;
        height: 560px;
        object-fit: cover;
    }
    &__footer {
        padding: 10px;
        border-top: 1px solid rgb(226, 226, 226);
    }
    &__likes {
        font-size: 14px;
        font-weight: bold;
        display: flex;
        flex-direction: column;
    }
    &__footer-icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
    }
    &__inner {
        display: flex;
        align-items: center
    }
    &__publish {
        border: none;
        background-color: transparent;
        color: rgb(0, 149, 246);
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        &-disabled {
            opacity: 0.5;
        }
    }
    &__input {
        border: none;
        padding-left: 10px;
        width: 100%;
        min-width: 250px;
        &::placeholder {
            font-size: 14px;
        }
        &:focus-visible {
            outline: 0;
            border: none;
            outline-offset: 0;
        }
    }
    &__comments {
        border-top: 1px solid rgba(201, 201, 201, 0.497);
        padding: 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-group {
            display: flex;
            align-items: center;
        }
    }
    &__data {
        font-size: 13px;
        color: rgb(160, 160, 160);
    }
    &__check-comments {
        display: block;
        border: none;
        color: rgb(168, 168, 168);
        background-color: #fff;
        font-size: 15px;
        padding: 5px 0 10px 0;
        cursor: pointer;
    }
    &-icons-inner>img {
        margin-right: 20px;
    }
}

a.post__nick {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 14px;
}

.likes-inner {
    display: flex;
    line-height: 2;
}

.likes-deskripiton {
    margin-left: 5px;
}

.comments-icon {
    height: 23px;
}

.share-icon {
    height: 23px;
}

.save-icon {
    height: 30px;
}

.smile-icon {
    width: 24px;
    padding: 0;
}

.saveIcon {
    width: 30px;
    height: 28px;
    fill: #000;
    stroke: black;
}

.post-footer-wrapper {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    grid-area: "post-icons";
}

@include respond-to(lg-small) {
    .post {
        &__comments {
            display: none;
        }
    }
}