@import '../../breakpoints.scss';
@import '../../variables.scss';

.header {
    background-color: var(--background);
    position: sticky;
    top: 0;
    z-index: 10;
    &__dark {
        padding: 4px;
        background-color: #000;
        border-bottom: 1px solid #8e8e8e;
    }
    &__light {
        padding: 15px;
        background-color: #fff;
        border-bottom: 1px solid #d3d3d3;
    }
    &__burger::after {
        content: '';
        background-color: #000;
        padding: 5px 0 0 2px;
        margin: 3px;
        border-radius: 2px;
    }
    &__burger:last-child::before {
        content: '';
        background-color: #000;
        padding: 5px 0 0 2px;
        margin: 3px;
        border-radius: 2px;
    }
    &__burger.light:last-child::before,
    &__burger.light:after {
        background-color: #fff;
    }
    &__item:last-child {
        transform: rotate(90deg);
        margin-bottom: 6px;
    }
    &__logo {
        width: 103px;
    }
    &__inner {
        max-width: 905px;
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__input {
        background-color: rgb(239, 239, 239);
        border: none;
        min-width: 160px;
        width: 212px;
        padding: 12px 15px 9px 10px;
        border-radius: 10px;
        &:focus-visible {
            outline: 0;
            border: none;
            outline-offset: 0;
        }
        &::placeholder {
            font-size: 19px;
            padding-top: 4px;
        }
    }
    &__search {
        background-color: rgb(239, 239, 239);
        border-radius: 10px;
        display: flex;
        align-items: center;
        outline: none;
    }
    &__item {
        list-style: none;
        margin-left: 20px;
        cursor: pointer;
    }
    &__list {
        display: flex;
        align-items: self-end;
        margin: 0;
    }
    &-section {
        display: flex;
        align-items: center
    }
    &__avatar {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        padding: 0;
        cursor: pointer;
    }
}

svg {
    height: 22px;
    width: 16px;
    padding-left: 10px;
    &.home {
        width: 22px;
        padding: 0;
    }
    &.find-people {
        width: 24px;
        padding: 0;
    }
    &.messenger {
        width: 25px;
        padding: 0;
    }
    &.share {
        width: 25px;
        padding: 0;
    }
}

.dm-icon,
.plus-icon,
.icon-home,
.like-icon {
    height: 23px;
}

.icon-home {
    width: 26px;
}

@include respond-to(sm-large) {
    .header {
        &__search {
            display: none;
        }
    }
}

@include respond-to(lg-small) {
    .header {
        &__list {
            padding: 0;
        }
    }
}

@media screen and (max-width: 432px) {
    svg.find-people,
    svg.dm-icon,
    svg.header__avatar,
    svg.home,
    svg.messenger,
    .like-icon,
    svg.icon-home{
        display: none;
        fill: var(--text-primary);
        color: var(--text-primary) !important;
    }
}

.settings-icon {
    font-size: 32px;
    width: 31px;
    height: 37px;
}

.root-dark {
    background-color: #000;
    height: 100vh;
}

.root-light {
    background-color: #fff;
    height: 100vh;
}