body {
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
}

.login {
    background-color: #fff;
    height: 400px;
    min-width: 300px;
    width: 350px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-logo {
        width: 200px;
        padding-top: 30px;
    }
    &-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    &-form input {
        background-color: rgba(219, 219, 219, 0.252);
        border: 1px solid #ccc;
        margin: 3px;
        padding: 10px 116px 10px 13px;
        border-radius: 5px;
    }
    &-form input:focus-visible {
        outline: none;
        border: 1px solid rgb(144, 144, 144);
    }
    &-form button {
        background-color: #0095f6;
        border: none;
        color: #fff;
        border-radius: 5px;
        padding: 8px 113px;
        margin-top: 15px;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
    }
    &-facebook {
        color: rgb(15, 8, 111);
        font-size: 16px;
        font-weight: bold;
        margin: 30px 0 20px 0;
        cursor: pointer;
    }
    &-forgot {
        color: rgb(15, 8, 111);
        font-size: 13px;
        cursor: pointer;
    }
    &-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 90vh;
    }
}

.or {
    color: rgb(127, 127, 127);
    font-weight: bold;
    margin-top: 20px;
    font-size: 14px;
}

.or::after,
.or::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 120px;
    background-color: rgba(204, 204, 204, 0.47);
    margin-top: 9px;
    margin-left: 10px;
}

.or::before {
    margin-left: -131px;
}

.show-password {
    position: absolute;
    right: 16px;
    top: 11px;
    font-weight: bold;
    cursor: pointer;
}

.password-label {
    position: relative;
}

.signup-part {
    background-color: #fff;
    border: 1px solid #ccc;
    min-width: 300px;
    width: 350px;
    margin-top: 10px;
    display: flex;
    padding: 20px 0 20px 0;
    justify-content: center;
}

.signup-part p {
    margin: 0 5px 0 0;
}

.signup-part a {
    text-decoration: none;
    color: #0095f6;
    font-weight: bold;
    justify-content: center;
    cursor: pointer;
}

// rgba(var(--d69,0,149,246),.3)