@import '../../variables.scss';

.tab-item {
    list-style: none;
}

.tab-btn:hover {
    background-color: rgba(145, 145, 145, 0.067);
}

.tab-list {
    padding: 0;
    margin-top: 0;
}

.tab-btn {
    border: none;
    font-weight: normal;
    font-size: 17px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    text-align: left;
    background-color: var(--background);
    color: var(--text-primary);
    cursor: pointer;
}

.profile-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile-item {
    background-color: none;
    text-transform: uppercase;
    list-style: none;
    margin: 0 20px;
}

.profile-btn {
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1px;
    color: var(--text-primary);
}