    .ss-page {
        background-color: rgb(34, 34, 34);
        height: 100vh;
        overflow: hidden;
    }
    
    h2 {
        color: #000;
    }
    
    .slick-prev,
    .slick-next {
        z-index: 1;
        background-color: #fff !important;
        border-radius: 50%;
        z-index: 2;
        position: relative;
        cursor: pointer;
        box-shadow: 1px 0px 25px -6px #000000;
        &::before {
            content: "";
            height: 1px;
            width: 8px;
            background-color: #000;
            position: absolute;
            top: 7px;
        }
        &::after {
            content: "";
            height: 1px;
            width: 8px;
            background-color: #000;
            position: absolute;
            top: 12px;
        }
    }
    
    .ss-wrapper.slick-prev {
        left: 401px;
        top: 431px;
        &::before {
            transform: rotate(-45deg);
            left: 5px;
        }
        &::after {
            transform: rotate(45deg);
            left: 5px;
        }
    }
    
    .ss-wrapper.slick-next {
        left: 910px;
        bottom: 446px;
        &::before {
            transform: rotate(45deg);
            left: 6px;
        }
        &::after {
            transform: rotate(-45deg);
            left: 6px;
        }
    }
    
    .ss-wrapper .slick-list {
        max-width: 500px;
        height: calc(50vh - 100px);
        width: auto;
        padding: 0 69px 0 5px;
    }
    
    .slick-track {
        left: 10px;
    }
    
    .slick-track {
        margin: auto;
    }
    
    .ss-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 40px;
        width: 1012px;
        overflow: hidden;
        margin-left: 310px;
    }
    
    .ss-wrapper .slick-list {
        max-width: 1243px;
        height: 100vh;
    }
    
    .ss-wrapper .slick-slide img {
        width: 100%;
        height: 800px;
        object-fit: contain;
    }
    
    .ss-item {
        width: 70%;
        height: 900px;
        margin: 0 -64px 0 78px;
    }
    
    .ss-wrapper div.slick-slide.slick-active {
        width: 218px !important;
        margin-right: 17px;
        margin-left: 12px;
    }
    
    div.slick-slide.slick-active.slick-center.slick-current {
        width: 457px !important;
        margin-left: 42px;
        margin-right: 48px;
    }
    
    .ss-wrapper .slick-list {
        padding: 0;
    }
    
    .ss-wrapper.slick-next {
        left: 912px;
        bottom: 453px;
    }
    
    .ss-wrapper.slick-prev {
        left: 399px;
        top: 437px;
    }
    
    .ss-cross {}
    
    .ss-cross-item {
        height: 250px;
        width: 4px;
        background-color: rgb(230, 73, 73);
        border-radius: 2px;
    }