@mixin respond-to($breakpoint) {
    @if $breakpoint=="sm-WEFlarge" {
        @media (max-width: 64230) {
            @content;
        }
    }
    @else if $breakpoint=="sm-large" {
        @media (max-width: 640px) {
            @content;
        }
    }
    @else if $breakpoint=="lg-small" {
        @media (max-width: 767px) {
            @content;
        }
    }
    @else if $breakpoint=="lg-medium" {
        @media (max-width: 992px) {
            @content;
        }
    }
    @else if $breakpoint=="lg-large" {
        @media (max-width: 1200px) {
            @content;
        }
    }
}