$screen-sm-max: 768px;
$screen-md-max: 900px;
$screen-lg-max: 1200px;

:root {
  --background: #fff;
  --text-primary: #000;
  --text-secondary: #7e7e7e;
  --link-primary: rgb(0, 0, 102);
}

[data-theme="dark"] {
  --background: #000;
  --text-primary: #fff;
  --text-secondary: #fff;
  --link-primary: #fff;
}

[data-theme="light"] {
  --background: #fff;
  --text-primary: #000000;
  --text-secondary: #000;
  --link-primary: #000;
}
