@import '../../variables.scss';

.header__menu {
  background-color: var(--menu);
  border-radius: 10px;
  position: absolute;
  top: 60px;
  margin-left: 60px;
  box-shadow: 0 0 21px -6px rgba(0,0,0,0.75);
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 25px 15px 25px;
  cursor: pointer;
  margin: 0;
  border-bottom: 1px solid var(--menu);
}

.menu__item:hover {
  background-color: var(--menu-secondary);
  border-radius: 10px;
}

.menu__item span {
  font-size: 18px;
  font-weight: 500;
  color: var(--text-secondary);
}

.theme-icon {
  fill: #fff;
  height: 31px;
  width: 28px;
}